<h1>[% l('Affiliate') %]</h1>

<ul role="segmented">
    <li class="active"><a href="#general_info-content">[% l('Affiliate') %]</a></li>
    <li><a href="#faq-content">[% l('FAQ') %]</a></li>
</ul>

<div id="general_info-content" class="tab-content">
    [% INCLUDE affiliates/main.html.tt %]
</div>
<div id="faq-content" class="tab-content">
    [% INCLUDE affiliates/faq.html.tt %]
</div>
