// default states

#topbar {
    display: none;
}

// after access applied

.client-not-logged-in #topbar,
.client-is-real #topbar,
.client-has-real #topbar .button,
.client-is-virtual .authenticate-menu {
    display: none;
}

.client-logged-in.client-is-virtual #topbar,
.client-not-logged-in .login-container,
.client-logged-in .account-container {
    display: block;
}
