button, input[type=submit], input[type=button], a.button {
    cursor: pointer;
    color: $COLOR_WHITE;
    background: $COLOR_BLUE;
    font-weight: bold;
    border: 0;
    padding: 10px 15px;
    border-radius: 4px;
    &:focus {
        outline: none;
    }
}

a.button {
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

button:disabled, .button-disabled {
    color: $COLOR_GRAY_SHADE;
    background: $COLOR_LIGHT_GRAY;
}

.important {
    background: $COLOR_ORANGE !important;
}
