.button, button {
    cursor: pointer;
    color: $COLOR_WHITE;
    background: $COLOR_BLUE;
    font-weight: bold;
    border: 0;
    padding: 10px 15px;
    border-radius: 4px;    
}

a.button {
    text-decoration: none;
    display: inline-block;
}

button:disabled, .button-disabled {
    color: $COLOR_GRAY_SHADE;
    background: $COLOR_LIGHT_GRAY;
}

.important {
    color: $COLOR_ORANGE;
}
