.row {
    display: flex;
    //padding: 0 .5rem;
    //margin: 0 -1rem 1rem -1rem;
    margin-left: -1rem;
    margin-bottom: 1rem;
}
.row > * {
    flex: 1;
    padding-left: 1rem;
    //margin: 0 .5em;
}
.col.q {
    flex: .33333333;
}
.col.f2 {
    flex: 2;
}
.col.f3 {
    flex: 3;
}
