.home-content#content {
    width: 100%;
}
.hero {
    background-image: url('/images/pages/home2/map.png');
    backgroud-repeat: no-repeat;
    background-size: cover;
}
blockquote {
    p {
        quotes: "\201C""\201D""\2018""\2019";
        margin: 0 2em 1em 2em;
        &:before,
        &:after {
            color: $COLOR_ORANGE;
            font-size: 5em;
            line-height: 0;
            vertical-align: -.4em;
        }
        &:before {
            content: open-quote;
            margin-right: .1em;
        }
        &:after {
            content: close-quote;
            margin-left: .1em;
        }
    }
}
.iconic {
    width: 4em;
    margin-bottom: 1em;
}
#open-account {
    border-radius: $BORDER_RADIUS;
    overflow: hidden;
    color: $COLOR_WHITE;
    background: $COLOR_ORANGE;
    max-width: 30em;
    margin: 0 auto;
    legend {
        margin: 0;
        padding: .5em;
        background: $COLOR_BLUE;
    }
    input + input {
        margin-left: 2em;
    }
}
.home-container {
    padding: 2em;
}
.darkish {
    background: #f5f5f6;
}
.home-body {
    margin: 0 auto;
    max-width: 960px;
    text-align: center;
}
.trade-desc {
    text-align: left;
    p {
        margin: 0 0 .5em 0;
    }
}
