.home-content#content {
    width: 100%;
}
#open-account {
    border-radius: $BORDER_RADIUS;
    overflow: hidden;
    color: $COLOR_WHITE;
    background: $COLOR_ORANGE;
    max-width: 30em;
    margin: 0 auto;
    legend {
        margin: 0;
        padding: .5em;
        background: $COLOR_BLUE;
    }
}
.home-container {
    padding: 2em;
}
.home-container:nth-child(even) {
    background: #f5f5f6;
}
.home-body {
    margin: 0 auto;
    max-width: 960px;
    text-align: center;
}
.trade-desc {
    text-align: left;
    p {
        margin: 0 0 .5em 0;
    }
}
