header {
    background: $COLOR_BRAND_BLUE;
    display: flex;
    justify-content: center;
}
.header-content {
    display: flex;
    width: 100%;
    max-width: $CONTENT_WIDTH;
    padding: 0 .5em;
}
#logo {
    img:nth-child(1) {
        height: 2em;
    }
    img:nth-child(2) {
        height: 1.5em;
        margin-left: .2em;
        margin-top: .2em;
    }
}
nav {
    flex: 1;
    justify-content: center;
    display: flex;
    div, a {
        padding: 0 1em;
        line-height: 2;
        color: white !important;
        text-align: center;
        font-weight: normal;
        &:hover {
            text-decoration: none;
        }
    }
}


.login-btn, .logout-btn {
    font-size: $FONT_SIZE_S;
    margin: .2em 0;
}


.language-selector {
    select {
        text-indent: 100px;
        border: none;
        width: 20px;
        height: 15px;
        margin: 1em;
        background-position: 0 0;
        padding: 0;
        &:hover, &:focus { box-shadow: none; }
        background: url('../images/common/flags.png');
        background-size: 20px;
        background-repeat: no-repeat;
    }
}
.flag {
    background: url('../images/flags.png');
    background-size: 20px;
    background-repeat: no-repeat;
}
.header nav {
    color: white;
}
.header nav a {
    color: white;
    font-weight: normal;
}
.header nav a:hover {
    text-decoration: none;
}
.nav1st li.active div {
    //color: #717880;
}
.nav1st > li, .logo {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.nav1st > li:hover, .logo:hover {
    box-shadow: inset 0px 3px 0px 0px $COLOR_BRAND_ORANGE;
    background-color: $COLOR_NAV_ACTIVE;
    border-left: 1px solid $COLOR_NAV_BORDER;
    border-right: 1px solid $COLOR_NAV_BORDER;
}
.nav2nd {
    margin-left: -1px;
    background-color: $COLOR_NAV_ACTIVE;
    border-left: 1px solid $COLOR_NAV_BORDER;
    border-right: 1px solid $COLOR_NAV_BORDER;
    border-bottom: 1px solid $COLOR_NAV_BORDER;
}
.nav2nd li:hover {
    color: white;
    background: $COLOR_BRAND_ORANGE;

}
.nav-trade,
.nav-cashier,
.nav-resources,
.nav-charts,
.nav-help {
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: auto 70%;
    background-position: center center;
}
.nav-trade {
    font-weight: bold;

}
