header {
    background: $COLOR_BRAND_BLUE;
    display: flex;
    justify-content: center;
}
.header-content {
    display: flex;
    width: 100%;
    max-width: $CONTENT_WIDTH;
    margin: 0 .5em;
}
#logo {
    img:nth-child(1) {
        height: 2em;
    }
    img:nth-child(2) {
        height: 1.5em;
        margin-left: .2em;
        margin-top: .2em;
    }
}
nav {
    flex: 1;
    justify-content: center;
    display: flex;
}
nav div {
    padding: 0 1rem;
    line-height: 2;
    text-align: center;
}
nav a {
    font-weight: normal;
    color: white !important;
    &:hover {
        text-decoration: none;
    }
}


.login-btn {
    font-size: $FONT_SIZE_S;
    margin: .7rem 0;
}


.language-selector {
    select {
        text-indent: 100px;
        border: none;
        width: 20px;
        height: 15px;
        margin: 1.1rem;
        background-position: 0 0;
        padding: 0;
        &:hover, &:focus { box-shadow: none; }
        background: url('../images/common/flags.png');
        background-size: 20px;
        background-repeat: no-repeat;
    }
}
.flag {
    background: url('../images/flags.png');
    background-size: 20px;
    background-repeat: no-repeat;
}
.header nav {
    color: white;
}
.header nav a {
    color: white;
    font-weight: normal;
}
.header nav a:hover {
    text-decoration: none;
}
.submenu {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.submenu:hover {
    box-shadow: inset 0px 3px 0px 0px $COLOR_BRAND_ORANGE;
    background-color: $COLOR_NAV_ACTIVE;
    border-left: 1px solid $COLOR_NAV_BORDER;
    border-right: 1px solid $COLOR_NAV_BORDER;
}
.nav2nd {
    margin-left: -1px;
    background-color: $COLOR_NAV_ACTIVE;
    border-left: 1px solid $COLOR_NAV_BORDER;
    border-right: 1px solid $COLOR_NAV_BORDER;
    border-bottom: 1px solid $COLOR_NAV_BORDER;
}
.nav2nd li:hover {
    color: white;
    background: $COLOR_BRAND_ORANGE;
}
.nav-trade,
.nav-cashier,
.nav-resources,
.nav-help,
.nav-account {
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: auto 70%;
    background-position: center center;
}

#client-logged-in, #client-logged-out {
    display: none;
}
