table {
    width: 100%;
    border-collapse: collapse;
}
thead, tbody {
    border-bottom: 2px solid $COLOR_CONTROL_BORDER;
}
th, td {
    padding: .5rem;
    vertical-align: middle;
    line-height: 1.4;
}
th {
    color: #2a3052;
    background: $COLOR_LIGHT_GRAY;
}
tr {
    border-bottom: 1px solid $COLOR_CONTROL_BORDER;
}
table ul {
    padding-left: 0;
    list-style: none;
}
