html {
    height: 100%;
    font-size: 18px;
    text-rendering: geometricPrecision;
}
body {
    background: #FFFFFF;
    color: $COLOR_TEXT;
    font-family: proxima-nova, arial;
}
a, a:visited {
    color: $COLOR_BLUE;
    text-decoration: none;
    font-weight: bold;
    &:hover, &:active {
        text-decoration: underline;
    }
}
p {
    margin: 1em 0;
    line-height: 1.4em;
}
h1, h2, h3 {
    font-weight: 300;
}
h4 {
    font-weight: bold;
}
h1, h2, h3, h4 {
    color: $COLOR_BLUE;
    a {
        color: $COLOR_BLUE !important;
    }
}
h1 {
    font-size: $FONT_SIZE_XXL;
}
h2 {
    font-size: $FONT_SIZE_XL;
}
h3 {
    font-size: $FONT_SIZE_L;
}
h4 {
    font-size: $FONT_SIZE_N;
}
hgroup {
    margin-bottom: 2em;
}
select, input, button, textarea {
    background: $COLOR_WHITE;
    border: 1px solid $COLOR_GRAY;
    padding: 2px 3px 2px 3px;
    color: $COLOR_TEXT;
}
input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}
input, textarea {
    vertical-align: middle;
}
ul, ol {
    margin: 0;
    li {
        line-height: 1.4em;
    }
}
ol li {
    list-style-type: decimal;
    list-style-image: none;
}
img {
    vertical-align: middle;
    border: 0px;
}
acronym, abbr {
    cursor: help;
}
.button.button-disabled button.button-disabled {
    color: $COLOR_GRAY_SHADE;
    background: $COLOR_LIGHT_GRAY;
    cursor: default;
}
form {
    margin: 0;
    padding:0;
}
/* form styles */
.extra_tooltip_container {
    float: left;
    text-align: right;
    padding-right: 1em;
    width: 40%;
    line-height: 1.7em;
}
label {
    line-height: 25px;
}
// used for form label in grid structure
.form_label {
    text-align: right;
    line-height: 25px;
}
.extra_tooltip_container label {
    padding: 0;
    width: 94%;
}
#profit-table-form {
    background: $COLOR_WHITE;
}
.row.focus input, .row.focus textarea {
    background-color: $COLOR_YELLOW;
}
.errorrow, .errorfield {
    color: $COLOR_RED;
}
.text-only {
    color: $COLOR_TEXT;
}
.errorfield {
    margin: 0 0 0 0%;
}
.errorrow, .errorfield {
    font-size: 93%;
    font-style: italic;
    margin-top: 8px;
}
.last-row {
    margin-bottom: 0;
}
.form_button {
    text-align: center;
}
.form_button .errorfield {
    margin: 0;
}
.comment {
    font-size: 93%;
    font-style: italic;
}
.non_input {
    color: $COLOR_TEXT;
    line-height: 1.7em;
}
.non_input label {
    line-height: 1.6em;
}
.gray {
    color: $COLOR_DARK_GRAY;
}
.form_link {
    display: block;
    font-size: 76%;
    line-height: 0.8em;
}

/* global styles */
* {
    margin: 0;
}
#popup {
    width: 95%;
    margin: 0 auto;
}
.clearfix {
    clear:both;
    visibility:hidden;
    content:'.';
}
.hidden {
    display: none;
}
.left {
    float: left;
}
.right {
    float: right;
}
.push {
    clear: both;
}
.required_asterisk {
    color: $COLOR_ORANGE;
}
.error-msg {
    color: $COLOR_RED;
    font-style: italic;
    font-size: 93%;
}
.notice-msg {
    color: $COLOR_TEXT;
    background-color: $COLOR_YELLOW;
    padding: 10px;
}
/* hacks - avoid! */

/* using pixel as we need it to make footer sticky */
.scrollbar-measure {
    width: 100px;
    height: 100px;
    overflow: scroll;
    position: absolute;
    top: -9999px;
}
.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
ol {
    margin: 1.25em 0 1.25em 1.25em;
}
ul.bullet li {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSIxOHB4IiBoZWlnaHQ9IjE4cHgiIHZpZXdCb3g9IjAgMCAyNCAyMCI+DQo8cG9seWdvbiBmaWxsPSIjRTk4MDI1IiBwb2ludHM9IjguNjIzLDE5LjU1NyAwLDEwLjkzNiAzLjczNiw3LjE5OCA4LjYyMywxMi4wODIgMjAuMjYyLDAuNDQzIDI0LDQuMTggOC42MjMsMTkuNTU3Ii8+DQo8L3N2Zz4NCg==") no-repeat;
    padding-left: 1.25em;
}
.inpage_popup_container {
    position: fixed;
    margin: 0;
    padding: 10px;
    text-align: center;
    border: solid 1px $COLOR_ORANGE;
    background: $COLOR_LIGHT_GRAY;
    z-index: 1000;
    max-width: 90%;
    .drag-handle {
        cursor: pointer;
    }
    a.close {
        position: relative;
        top: -10px;
        right: -10px;
    }
    .inpage_popup_content {
        margin: 10px;
        margin-top: 30px;
        padding: 0;
    }
    .inpage_popup_content_box {
        padding: 0;
        margin: 0;
        background: $COLOR_WHITE;
        border: solid 2px $COLOR_GRAY;
        text-align: center;
    }
}
.paging-navigation {
    ul.paging-links {
        li {
            line-height: 1em;
        }
    }
}

.reset_ol{
  counter-reset: item;
  li {
        display: block;
  }
  li:before {
        content: counters(item, ".") ". ";
        counter-increment: item;
  }
}
.hint{
    font-size: 14px;
    color: #58595B;
    margin-top: 3px;
}
#content {
    margin: 20px 0;
}

.separator-line {
    border-bottom: 1px solid $COLOR_GRAY;
    margin-top: 10px;
    margin-bottom: 10px;
}

#page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content-holder {
    flex: 1 1 auto;
}

i {
    color: $COLOR_ORANGE;
}
