*,
*:before,
*:after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    height: 100%;
    font-size: 16px;
    text-rendering: geometricPrecision;
}
body {
    background: #fff;
    color: $COLOR_TEXT;
    font-family: roboto, arial;
    line-height: $LINE_HEIGHT;
}
a,
a:visited {
    color: $COLOR_BRAND_BLUE;
    font-weight: bold;
}
p, code, fieldset {
    margin-bottom: 1rem;
}
code {
    display: block;
    background: rgba($COLOR_BRAND_BLUE, 0.1);
    padding: 1rem;
}
h1,
h2,
h3 {
    font-weight: 300;
    line-height: 1;
}
h4 {
    font-weight: bold;
}
h1,
h2,
h3,
h4 {
    color: $COLOR_BRAND_BLUE;
    margin: 1rem 0;
    a {
        color: $COLOR_BRAND_BLUE !important;
    }
}
h1 {
    font-size: $FONT_SIZE_XXL;
}
h2 {
    font-size: $FONT_SIZE_XL;
}
h3 {
    font-size: $FONT_SIZE_L;
}
h4 {
    font-size: $FONT_SIZE_N;
}
input,
button,
textarea,
select,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}
input,
textarea {
    vertical-align: middle;
}
ol li {
    list-style-type: decimal;
    list-style-image: none;
}
ul {
    margin: 0 0 1rem 0;
}
ol {
    margin: 0 0 1rem 1.5rem;
}
img {
    vertical-align: middle;
    border: 0;
    max-width: 100%;
}
img.h10 {
    height: 10rem;
}
acronym,
abbr {
    cursor: help;
}
.button.button-disabled button.button-disabled {
    color: $COLOR_GRAY;
    background: $COLOR_LIGHT_GRAY;
    cursor: default;
}
form {
    margin: 0;
    padding: 0;
}
/* form styles */
.extra_tooltip_container {
    float: left;
    text-align: right;
    padding-right: 1rem;
    width: 40%;
}
// used for form label in grid structure
.form_label {
    text-align: right;
}
#profit-table-form {
    background: white;
}
.row.focus input,
.row.focus textarea {
    background-color: $COLOR_YELLOW;
}
.errorrow,
.errorfield,
.error-msg {
    //color: white;
    //background: $COLOR_RED;
    color: $COLOR_RED;
    border-radius: $BORDER_RADIUS;
    padding: .125rem;
}
.notice-msg {
    color: $COLOR_TEXT;
    border-radius: $BORDER_RADIUS;
    padding: .125rem;
    background-color: $COLOR_YELLOW;
}
.text-only {
    color: $COLOR_TEXT;
}
/* global styles */
#popup {
    width: 95%;
    margin: 0 auto;
}
.hidden {
    display: none;
}
.left {
    float: left;
}
.right {
    float: right;
}
.required_asterisk {
    color: $COLOR_BRAND_ORANGE;
}

/* hacks - avoid! */
/* using pixel as we need it to make footer sticky */
.scrollbar-measure {
    width: 100px;
    height: 100px;
    overflow: scroll;
    position: absolute;
    top: -9999px;
}
.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
ul.bullet li {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSIxOHB4IiBoZWlnaHQ9IjE4cHgiIHZpZXdCb3g9IjAgMCAyNCAyMCI+DQo8cG9seWdvbiBmaWxsPSIjRTk4MDI1IiBwb2ludHM9IjguNjIzLDE5LjU1NyAwLDEwLjkzNiAzLjczNiw3LjE5OCA4LjYyMywxMi4wODIgMjAuMjYyLDAuNDQzIDI0LDQuMTggOC42MjMsMTkuNTU3Ii8+DQo8L3N2Zz4NCg==") no-repeat;
    background-position: 0 2px;
    padding-left: 1.5em;
    margin-bottom: .25rem;
}
a.close {
    display: inline-block;
    position: relative;
    margin-top: 0;
    margin-right: 0;
    padding: 10px 8px;
    cursor: pointer;
    color: white;
    background: $COLOR_BRAND_ORANGE;
    font-size: 24px;
    font-weight: bold;
    line-height: .5;
    z-index: 1001;
    top: -10px;
    right: -10px;
    float: right;
    border-radius: 0 0 0 $BORDER_RADIUS;
    &:hover {
        text-decoration: none;
    }
}
.inpage_popup_container {
    position: fixed;
    margin: 0;
    padding: 10px;
    text-align: center;
    border: solid 1px $COLOR_BRAND_ORANGE;
    background: white;
    z-index: 1000;
    max-width: 90%;
    border-radius: $BORDER_RADIUS;
    overflow: auto;
    .drag-handle {
        cursor: pointer;
    }

    .inpage_popup_content_box {
        padding: 1rem 2rem;
        background: white;
    }
    .ui-widget-content {
        background: none;
        border: none;
    }
}
.reset_ol {
    counter-reset: item;
    li {
        display: block;
    }
    li:before {
        content: counters(item, ".") ". ";
        counter-increment: item;
    }
}
.hint {
    font-size: 14px;
    color: #58595b;
    margin-top: 3px;
}
.separator-line {
    border-bottom: 1px solid $COLOR_GRAY;
    margin-top: 10px;
    margin-bottom: 10px;
}
i {
    color: $COLOR_BRAND_ORANGE;
}
p.media, div.media {
    text-align: center;
    margin-bottom: 1rem;
}
strong {
    font-weight: bold;
}
