/* GLOBAL RULES */

@mixin menu-left {
  ul {
    border-radius: $BORDER_RADIUS;
    overflow: hidden;
    li {
      list-style-image: none;
      margin: 0;
      background: $COLOR_LIGHT_GRAY;
      line-height: 150%;
      border-bottom: 1px solid #FFFFFF;
      &:hover {
        background: $COLOR_GRAY;
      }
      a {
        font-weight: normal;
        text-decoration: none;
        display: block;
        padding: 5px 5px 5px 10px;
      }
    }
    li.selected {
      background: $COLOR_BRAND_BLUE;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
  .open-account {
    margin-top: 20px;
  }
}

@mixin chart-day-selector {
  float: left;
  list-style-image: none;
  list-style-position: inherit;
  label.button {
    width: auto;
    .button {
      background: transparent;
      border: none;
      border-bottom: 2px solid $COLOR_GRAY_SHADE;
      border-radius: 0;
      color: $COLOR_TEXT;
      font-weight: normal;
      &.disabled {
        color: $COLOR_BRAND_ORANGE;
        font-weight: bold;
        border-bottom: 4px solid $COLOR_BRAND_ORANGE;
      }
    }
  }
}

@mixin tab-list {
    border: none;
    border-radius: 0;
    padding: 0;
    margin-left: 0;
    background: none;
    li {
      border: none;
      list-style-image: none;
      background: $COLOR_LIGHT_GRAY;
      border-radius: $BORDER_RADIUS $BORDER_RADIUS 0 0;
      margin: 0 6px 0 0;
      padding: 0 10px;
      a, a:visited {
        padding: 0;
        font-weight: normal;
        text-decoration: none;
        color: $COLOR_TEXT;
        font-size: 90%;
        background: transparent;
      }
    }
    li.active, li.ui-tabs-active {
      background: $COLOR_BRAND_BLUE;
      color: white;
      a {
        background: none;
        color: white;
        font-weight: normal;
        text-decoration: none;
        padding: 0;
      }
      span.a-active {
          line-height: 2;
      }
    }
    ul.tm-ul-2 {
      list-style-type: none;
      margin: 0;
      li {
        background: none;
        a {
          color: $COLOR_TEXT;
          padding-top: 0;
          font-weight: normal;
          text-decoration: none;
          width: auto;
        }
        a.a-active {
          color: $COLOR_BRAND_ORANGE;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
}
