- my $content_class = current_route.'-content';
!= google_tag_tracking_code

.$content_class
    #content
        = include('layouts/page_info')
        .row
            .col
                = include('layouts/get_started/nav')
            .col.sections
                .row
                    = content
