- my $content_class = current_route.'-content';
#content.$content_class
    != google_tag_tracking_code
    = include('layouts/default/page_info')

    .row.get-started
        .col
            = include('layouts/get_started/nav')
        .col.row.sections
            = content
