- my $content_class = current_route.'-content';
!= google_tag_tracking_code
= include('layouts/default/page_info')

.$content_class
    #content
        .row.get-started
            .col
                = include('layouts/get_started/nav')
            .col.row.sections
                = content
