.sidebar-right
    .by_client_type.client_logged_out
        %p
            %a.pjaxload{:href => url_for('/')}= l('Try it now')
            = l('No risk, $10K virtual money account')
        %p
            = l('Want to learn more?')
            %a.pjaxload{:href => url_for('/tour')}= l('View the Tour')
