<div class="non_input">
    <span class='form_label'>
        <label for="spot">[% l('Spot') %]:</label>
        <span id="spot">[% current_spot %]</span>
        <span id="spot_spark"></span>
    </span>
</div>
