<div id="topbar">
    [% l("You're using a Virtual Account.") %]
    <a class="button" href="[% request.url_for('/user/upgrade/') %]">[% l("Upgrade to a Real Account") %]</a>
    <a class="button" href="[% request.url_for('/user/upgrade/financial') %]">[% l("Open a Financial Account") %]</a>
</div>
