.cashieravailable_payment_methods-content,
.cashier-content,
.cashier-apm-content {
    img {
        width: 100px;
        height: 60px;
        background-image: url("../images/pages/cashier/payment-methods-sprite.png");
        background-size: 100px 1140px;
    }
}
#visa {
    background-position: 0 -300px;
}
#mastercard {
    background-position: 0 -240px;
}
#cuo-credit-card {
    background-position: 0 -360px;
}
#int_bank_wire {
    background-position: 0 -0;
}
#local_bank_transfer {
    background-position: 0 -60px;
}
#western_union {
    background-position: 0 -120px;
}
#citadel {
    background-position: 0 -180px;
}
#okpay {
    background-position: 0 -420px;
}
/*
#cashu {
    background-position: 0 -480px;
}
*/
#fastpay {
    background-position: 0 -540px;
}
#perfect_money {
    background-position: 0 -600px;
}
#moneybrokers {
    background-position: 0 -660px;
}
#neteller {
    background-position: 0 -720px;
}
#moneta {
    background-position: 0 -780px;
}
#webmoney {
    background-position: 0 -840px;
}
#ukash {
    background-position: 0 -900px;
}
#qiwi {
    background-position: 0 -960px;
}
#yandex {
    background-position: 0 -1020px;
}
#paysafecard {
    background-position: 0 -1080px;
}
