.get-started-content {
    flex: 3;
    .sections {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
    }
    section {
        min-width: 10rem;
        flex: 1;
        padding-bottom: 2rem;
        text-align: center;
    }
    img {
        height: 4rem;
        padding: 0.5rem;
        border: 2px solid #eee;
        border-radius: $BORDER-RADIUS;
    }
}
