.get-started-content {
    .sections {
        flex: 3;
        flex-wrap: wrap;
        align-content: space-between;
    }
    section {
        min-width: 10rem;
        flex: 1;
        padding-bottom: 2rem;
        text-align: center;
    }
    img {
        height: 4rem;
        padding: .5rem;
        border: 2px solid #eee;
        border-radius: $BORDER-RADIUS;
    }
}

.sidebar-right div {
    margin-top: 1rem;
    text-align: center;
}
