.sidebar .button {
    width: 100%;
}

.sidebar {
  @include menu-left;
}
.sidebar-button {
    margin-top: 1rem;
}
.code-sample {
    background-color: $COLOR_LIGHT_GRAY;
    overflow-x: auto;
    width: 90%;
    font-family: monospace;
    white-space: pre;
    padding: 1rem;
}
