.sidebar .button {
    width: 100%;
}

.static_full {
    @include topspace;
    .sidebar {
      @include menu-left;
    }
    @include section-separator;
    .section {
        display: block;
        overflow: hidden;
    }
    .sidebar-button {
        margin-top: 1em;
    }
    .code-sample {
        background-color: $COLOR_LIGHT_GRAY;
        overflow-x: auto;
        width: 90%;
        font-family: monospace;
        white-space: pre;
        padding: 18px;
    }
}
