<table>
    <thead>
        <tr>
            <th>[% l('Name') %]</th>
            <th>[% l('Summary') %]</th>
            <th>[% l('Depo./With. commission') %]</th>
            <th>[% l('Further information') %]</th>
        </tr>
    </thead>
    <tbody>
    [% FOREACH payment_agent IN payment_agent_table_row %]
    <tr>
        <td>[% payment_agent.name %]</td>
        <td>[% payment_agent.summary %]</td>
        <td>[% payment_agent.commission %]</td>
        <td>
            <a href="#">[% l('Further information') %]</a>
            [% INCLUDE 'cashier/payment_agent_further_info.html.tt' %]
        </td>
     </tr>
    [% END %]
    </tbody>
</table>
