<table class="borderless">
    <tbody>
        <tr>
            <td>[% l('Name') %]:</td>
            <td>[% payment_agent.name.replace("'", "\\'") %]</td>
        </tr>
        <tr>
             <td>[% l('Service summary') %]:</td>
             <td>[% payment_agent.summary.replace("'", "\\'") %]</td>
        </tr>
        <tr>
             <td>[% l('Website') %]:</td>
             <td><a href='[% payment_agent.url %]' target="_blank">[% payment_agent.url %]</a></td>
        </tr>
        <tr>
             <td>[% l('Email') %]:</td>
             <td><a href="mailto:[% payment_agent.email %]" target="_blank">[% payment_agent.email %]</a></td>
        </tr>
        <tr>
             <td>[% l('Tel') %]:</td>
             <td>[% payment_agent.telephone%]</td>
        </tr>
        <tr>
             <td>[% l('Commission on deposits') %]:</td>
             <td>[% payment_agent.deposit_commission%]%</td>
        </tr>
        <tr>
             <td>[% l('Commission on withdrawals') %]:</td>
             <td>[% payment_agent.withdrawal_commission%]%</td>
        </tr>
        <tr>
             <td>[% l('Further information') %]:</td>
             <td>[% payment_agent.further_information.replace("'", "\\'") %]</td>
        </tr>
        <tr>
            <td colspan="2">
            [% FOREACH bank IN payment_agent.supported_banks.split(',') %]
                [% IF payment_agent_banks.$bank %]
                <a href="[% payment_agent_banks.$bank.url %]" rel="external"><img src="[% request.url_for(payment_agent_banks.$bank.image) %]" width="72" height="57" alt="[% payment_agent_banks.$bank.name %]" title="[% payment_agent_banks.$bank.name %]" /></a>
                [% END %]
            [% END %]
            </td>
        </tr>
    </tbody>
</table>
