<ul role="segmented">
    <li><a href="[% request.url_for('trade.cgi?market=forex') %]">[% l("Forex") %]</a></li>
    <li><a href="[% request.url_for('trade.cgi?market=indices') %]">[% l("Indices") %]</a></li>
    <li><a href="[% request.url_for('trade.cgi?market=stocks') %]">[% l("Stocks") %]</a></li>
    <li><a href="[% request.url_for('trade.cgi?market=commodities') %]">[% l("Commodities") %]</a></li>
    <li><a href="[% request.url_for('trade.cgi?market=randoms') %]">[% l("Randoms") %]</a></li>
    <li><a href="[% request.url_for('trade.cgi?market=smarties') %]">[% l("Smart Markets") %]</a></li>
</ul>
