- stash (
-    loginholder => l('Login ID'),
-    pwdholder   => l('Password'),
-    logintext   => l('Log in'),
- );

%header
  .header-content
    %a#logo{:href=>url_for("/")}
      %img{:src => url_for('images/pages/binary-symbol-logo.svg')}
      %img{:src => url_for('images/pages/binary-text.svg')}
    = include('layouts/default/nav')
    .language-selector
      = include('layouts/default/language-select')    
    %a.button.login-btn.pjaxload{:href=>url_for('login')}= l('Log in')
