%header
    .header-content
        %a#logo{:href=>url_for("/")}
            %img{:src => url_for('images/pages/binary-symbol-logo.svg')}
            %img{:src => url_for('images/pages/binary-text.svg')}
        = include('layouts/default/nav')
