- my $languages = available_languages();
- my $sel_code = stash->{language};
- my $sel_name = $languages->{$sel_code};
%select
  - foreach (keys %{ $languages }) {
    - my ($code, $name) = ($_, $languages->{$_});
    - if ($code ne $sel_code) {
      %option{:class => $code}= $name
    - } else {
      %option{:class => $code, :selected => true}= $name
    - }
  - }
