#page_info{:style => 'display: none;'}
- my $content_class = (current_route || 'home').'-content';
  %title= stash('website_name') . (stash('title') ? " : ".stash('title'): '')
  #content_class= $content_class
