%a{:href=>"https://www.facebook.com/binarydotcom"}
    %img{:src => url_for('images/pages/footer/facebook.svg')}
%a{:href=>"http://www.youtube.com/user/BinaryTradingVideos"}
    %img{:src => url_for('images/pages/footer/youtube.svg')}
%a{:href=>"https://www.twitter.com/Binarydotcom"}
    %img{:src => url_for('images/pages/footer/twitter.svg')}
%a{:href=>"https://plus.google.com/106251151552682209951"}
    %img{:src => url_for('images/pages/footer/google-plus.svg')}
%a{:href=>"http://www.linkedin.com/groups/Binarycom-5137612"}
    %img{:src => url_for('images/pages/footer/linkedin.svg')}
