<header>
    <div class="header-content">
        <a id="logo" href="[% request.url_for('/') %]"[% target %]>
            <img src="[% request.url_for('images/pages/binary-symbol-logo.svg') %]"/>
            <img src="[% request.url_for('images/pages/binary-text.svg') %]"/>
        </a>
        [% INCLUDE global/nav.html.tt %]
    </div>
</header>
