/* Logo and top bar */

#topbar {
  width: 100%;
  color: white;
  line-height: 1;
  font-size: 70%;
  text-align: right;
  padding: 3px 0;

  #virtual-text {
    font-weight: 700;
  }
  #topbar-info {
    float: right;
  }
  #gmt-clock, #contact-us {
      padding-top: 3px;
  }
  #virtualupgrade {
    padding-top: 3px;
    a {
      border-radius: $BORDER_RADIUS;
      font-size: 90%;
      padding: 2px 4px 2px 4px;
      margin: 0 0 0 10px;
    }
  }

  #language_select {
      select {
          padding: 0;
          height: 1.6em;
      }
  }
  a {
    color: white;
    white-space: nowrap;
    text-decoration: none;
  }

  ul {
    z-index: 999999;
    position: absolute;
    display: none;
    border-radius: 0 0 $BORDER_RADIUS $BORDER_RADIUS;
    margin: 1px 0 0 0;
    padding: 5px 10px 10px 10px;
    li {
      margin: 0 0 0 10px;
      border: 0;
      position: relative;
      white-space: nowrap;
      border-radius: 0;
      padding: 2px 5px 2px 5px;
      display: block;
      border-radius: $BORDER_RADIUS;
      line-height: 1.5;
      &:active > ul, &:focus, &:hover {
        cursor: pointer;
        background: white;
        color: black;
      }
    }
  }
}
