/* Logo and top bar */

#topbar {
  width: 100%;
  color: white;
  line-height: 1;
  font-size: 70%;
  text-align: right;
  padding: 3px 0;
  #topbar-info {
    float: right;
  }
  #gmt-clock, #contact-us {
      padding-top: 3px;
  }
  #virtualupgrade {
    padding-top: 3px;
    a {
      border-radius: $BORDER_RADIUS;
      font-size: 90%;
      padding: 2px 4px 2px 4px;
      margin: 0 0 0 10px;
    }
  }

  #language_select {
      select {
          padding: 0;
          height: 1.6em;
      }
  }
  a {
    color: white;
    white-space: nowrap;
    text-decoration: none;
  }

  ul {
    z-index: 999999;
    position: absolute;
    display: none;
    border-radius: 0 0 $BORDER_RADIUS $BORDER_RADIUS;
    margin: 1px 0 0 0;
    padding: 5px 10px 10px 10px;
    li {
      margin: 0 0 0 10px;
      border: 0;
      position: relative;
      white-space: nowrap;
      border-radius: 0;
      padding: 2px 5px 2px 5px;
      display: block;
      border-radius: $BORDER_RADIUS;
      line-height: 1.5;
      &:active > ul, &:focus, &:hover {
        cursor: pointer;
        background: white;
        color: black;
      }
    }
  }
}

#header {
  background: $COLOR_BRAND_BLUE;
  a {
    color: white;
    text-decoration: none;
  }
  #binary-logo-text {
      margin-top: 10px;
  }
  #login-form {
    text-align: right;
    #login-links {
      margin: 5px 0 0 0;
      display: block;
    }
    input {
      font-size: $FONT_SIZE_S;
    }
    input[type=text], input[type=password] {
      background: #FEFEFE;
      border: 0;
      width: 50px;
      padding: 4px;
    }
  }
  a#lost-password, a#register {
    display: inline-block;
    margin: 0 0 0 10px;
    line-height: 170%;
    font-size: 70%;
  }
  #logout {
    text-align: right;
    color: white;
    font-size: 70%;
    margin-top: 10px;
  }
  #mobile-menu-icon-container {
    margin-top: 5px;
    margin-right: 3px;
  }
  #menu-top {
    text-align: center;
    a:hover {
      opacity: .75;
    }
    li {
      line-height: 1;
      display: inline-block;
      text-align: center;
      margin: 0;
      &:last-child {
        background: none;
      }
      a {
        font-weight: normal;
        vertical-align: middle;
        display: table-cell;
        height: 50px;
        max-width: 110px;
        color: white;
        text-decoration: none;
        letter-spacing: 0;
        text-transform: capitalize;
        font-size: 109%;
        padding: 0px 10px;
        word-wrap: break-word;
      }
    }
    li.active {
      a {
        color: $COLOR_BRAND_ORANGE;
      }
    }
  }
}
